@import '../../resources/styles/variables';

.sold-out {
    position: absolute;
    left: 0;
    top: 0;
    .triangle {
        border-right: 70px solid transparent;
        border-top: 70px solid $red;
    }
    &>span {
        position: absolute;
        left: 2px;
        top: 15px;
        color: $white;
        transform: rotate(-45deg);
    }
}